<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ num1 }}  + {{ num2 }}</title>
</head>
<body>
    <h3>
        {{ num1 }} + {{ num2 }} asdasdasd
    </h3>
    <h1>= {{ answer }}</h1>
</body>
</html>